{% extends "layouts/base-presentation.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-sm-6">
    <div class="page-header section-height-50 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://unsplash.com/photos/IVj7aVIi0zM/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzQ1NTIyMzY0fA&force=true');">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-lg-5">
            <h1 class="text-white">Order #{{ object.id }}</h1>
            <p class="lead text-white">
              User:
              <a href="{% url 'accounts:user-detail' pk=object.user.id%}" class="bg-gradient-primary">
                {{ order.user.get_full_name|default:order.user.username }}
              </a>
            </p>
            <p class="lead text-white"> {{ object.created_at }} </p>
            <p class="lead text-white"> {{ object.status }} </p>
            <form method="post" class="status-form">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-sm bg-gradient-secondary">Update status</button>
            </form>
            <h4 class="text-end">
              <a href="{% url 'shop:order-list' %}" class="btn btn-outline-light btn-sm mb-3">
                Go to orders
              </a>
              <a href="{{ back_url|default:'/' }}" class="btn btn-outline-light btn-sm mb-3">
                Back
                <i class="fas fa-arrow-right text-sm ms-1"></i>
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column">
      {% for item in object.items.all %}
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="info-horizontal border-radius-xl p-5" style="background: linear-gradient(135deg, #4a6fa5, #d3d3d3); color: black;">
            <div class="description ps-5">
              <h5 class="text-white">{{ item.product.name }}</h5>
              <p class="text-sm">Quantity: {{ item.quantity }}</p>
              <p class="text-sm">Price per piece: {{ item.product.price }}</p>
              <p class="text-sm">Price: {{ item.get_total_price }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">No orders found.</p>
      {% endfor %}

      <hr>
      <h4 class="text-end">
        Total: {{ object.get_total_price }}
      </h4>
    </div>
  </div>
{% endblock %}
