{% extends "layouts/base-presentation.html" %}

{% block content %}
  <section class="py-sm-7" id="download-soft-ui">
    <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
      <img src="{{ ASSETS_ROOT }}/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-6">
      <div class="container py-7 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <h3 class="text-primary text-gradient mb-4">Delete category</h3>
            <p class="text-white mb-5">
              Are you sure you want to delete the category called <strong> {{ object.name }} </strong>?            </p>
            <form action="" method="post">
              {% csrf_token %}

              <input type="submit" value="Yes" class="btn btn-danger">
              <a class="btn btn-secondary" href="javascript:history.back()">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
